%html
  %head
    %title Svar till lyssnarna - Topplista
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %a{ :href => '/players' }
      Jag vill vara med!
    %h1 Topplista
    %ul
      - leaderboard.each do |entry|
        %li.player
          %div{:class => ["ranking", "name"]}
            &= entry.playername
          %div{:class => ["ranking", "points"]} #{entry.score}

    :javascript
      refresh = function() { window.location.reload(); };
      setTimeout(refresh, 10000);
