%html
  %head
    %title Svar till lyssnarna - Mätvärden
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 Mätvärden
    %p
      Följande mätvärden finns tillgängliga för dig
      
    %ul
      %li
        %a(href="metrics/score")
          Din poäng
      %li
        %a(href="metrics/correct")
          Antal korrekt besvarade frågor
      %li
        %a(href="metrics/incorrect")
          Antal fel svar
      %li
        %a(href="metrics/requestcount")
          Totalt antal frågor