%html
  %head
    %title Svar till lyssnarna - Spelare saknas
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 Spelare saknas
    %p
      Ingen spelare är registrerad med det id:t. Det kan bero på att servern startats om och du behöver i så fall registrera på nytt.
