%html
  %head
    %title Svar till lyssnarna - Spelare tillagd
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 Spelare tillagd!
  
    %p
      Du kan se din personliga logg
      %a{ :href => "/players/#{playerid}" } på denna sida!
      Behåll den öppen. :)
